<a href="https://colab.research.google.com/github/singaltanmay/heart-attack-predictor/blob/master/heart_attack_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('heart.csv')
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

In [ ]:
df.shape

(303, 14)

In [ ]:
df.describe()

              age         sex          cp  ...         caa       thall      output
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
# Assign data from first four columns to X variable
X = df.iloc[:, 0:13]
X.head()

   age  sex  cp  trtbps  chol  fbs  ...  thalachh  exng  oldpeak  slp  caa  thall
0   63    1   3     145   233    1  ...       150     0      2.3    0    0      1
1   37    1   2     130   250    0  ...       187     0      3.5    0    0      2
2   41    0   1     130   204    0  ...       172     0      1.4    2    0      2
3   56    1   1     120   236    0  ...       178     0      0.8    2    0      2
4   57    0   0     120   354    0  ...       163     1      0.6    2    0      2

[5 rows x 13 columns]

In [ ]:
Y = df['output']
Y.describe()

count    303.000000
mean       0.544554
std        0.498835
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: output, dtype: float64

In [ ]:
# Test - train split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20)

In [ ]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
print(X_train[0])

[ 1.15794501 -1.42302495  1.02216991  1.41462306  0.47939253 -0.40430377
  0.84864526 -0.03567723 -0.72914029 -0.23427636  1.03017088 -0.74181956
 -0.5203059 ]

In [ ]:
# Training the model
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(20, 15, 10), max_iter=1400)
mlp.fit(X_train, Y_train.values.ravel())

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(20, 15, 10), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=1400,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [ ]:
# Making predictions
predictions = mlp.predict(X_test)

In [ ]:
# Evaluating the model
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(Y_test,predictions))

              precision    recall  f1-score   support

           0       0.95      0.81      0.88        26
           1       0.87      0.97      0.92        35

    accuracy                           0.90        61
   macro avg       0.91      0.89      0.90        61
weighted avg       0.91      0.90      0.90        61

Accuracy ranges anywhere from 70% to 88% based on how the dataset is split between training and test set on runtime

In [ ]:
import pickle
file = open('heart_attack_predictor_model.pkl', 'wb')
pickle.dump(mlp, file)